body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
}